<form #chatForm="ngForm">
    <div class="form-group mt-4">
        <div class="form-group chat-container">
            <p id="textMessage" *ngFor="let messageObj of display.messageArray" [ngClass]="messageObj.alignment">
                {{messageObj.message.sender}}   :   {{messageObj.message.content}}
            </p>
        </div>

        <div class="form-group right" >
            <textarea rows="1" name="inputContent" [(ngModel)] = "message.content" autofocus required ></textarea>
        </div>

        <div class="form-group right" >
            <button (click)="createMessage()" class="btn btn-primary" type="submit" [disabled]="!chatForm.form.valid">Send</button>
        </div>        
    </div>

</form>
