<form [formGroup]="signUpForm">
  <div class="form-group">
    <h4 class="font-weight-bold">Register</h4>

    <div class="form-group">
      <label class="control-label required">Username</label>
      <div class="row" style="margin: 0px;">
        <input
          type="text"
          class="form-control input-sm"
          formControlName="username"
          [ngClass]="{
            'is-invalid': isInValid('username'),
            'is-valid': isValid('username')
          }"
        />
        <div
          *ngIf="
            signUpForm.get('username').dirty ||
            signUpForm.get('username').touched
          "
          class="alert alert-danger alert-icon"
        >
          <small
            *ngIf="signUpForm.get('username').errors?.alreadyTakenError"
            style="margin-left: 20px;"
            >{{ "Username is already Taken" }}.</small
          >

          <small
            *ngIf="signUpForm.get('username').errors?.minlength"
            style="margin-left: 20px;"
            >Username need
            {{
              signUpForm.get("username").errors?.minlength.requiredLength -
                signUpForm.get("username").errors?.minlength.actualLength
            }}
            more characters.</small
          >

          <small
            *ngIf="signUpForm.get('username').errors?.required"
            style="margin-left: 20px;"
            >{{ "Username is Mandatory" }}.</small
          >
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">First Name</label>
      <input type="text" class="form-control" formControlName="first_name" />
    </div>

    <div class="form-group">
      <label class="control-label">Last Name</label>
      <input type="text" class="form-control" formControlName="last_name" />
    </div>

    <div class="form-group">
      <label class="control-label required">Email</label>
      <div class="row" style="margin: 0px;">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          [ngClass]="{
            'is-valid': isValid('email'),
            'is-invalid': isInValid('email')
          }"
        />

        <div
          *ngIf="
            signUpForm.get('email').dirty || signUpForm.get('email').touched
          "
          class="alert alert-danger alert-icon"
        >
          <small
            *ngIf="signUpForm.get('email').errors?.alreadyTakenError"
            style="margin-left: 20px;"
            >{{ "Username is already Taken" }}.</small
          >

          <small
            *ngIf="signUpForm.get('email').errors?.required"
            style="margin-left: 20px;"
            >Email is Mandatory.</small
          >

          <small
            *ngIf="signUpForm.get('email').errors?.pattern"
            style="margin-left: 20px;"
            >Enter email in valid format.</small
          >
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label required">Password</label>
      <div class="row" style="margin: 0px;">
        <input
          type="password"
          class="form-control"
          formControlName="password"
          [ngClass]="{
            'is-valid': isValid('password'),
            'is-invalid': isInValid('password')
          }"
        />

        <div
          *ngIf="
            signUpForm.get('password').dirty ||
            signUpForm.get('password').touched
          "
          class="alert alert-danger alert-icon"
        >
          <small
            *ngIf="signUpForm.get('password').errors?.required"
            style="margin-left: 20px;"
            >Email is Mandatory.</small
          >

          <small
            *ngIf="signUpForm.get('password').errors?.pattern"
            style="margin-left: 20px;"
            >Enter password in valid format.</small
          >
        </div>
        <small
          *ngIf="
            signUpForm.get('password').errors &&
            signUpForm.get('password').dirty
          "
          style="color: grey;"
          >*Need
          <span *ngIf="signUpForm.get('password').errors?.minlength">
            {{
              signUpForm.get("password").errors?.minlength.requiredLength -
                signUpForm.get("password").errors?.minlength.actualLength
            }}
          </span>
          more characters including
          <span *ngIf="signUpForm.get('password').errors?.hasNumber"
            >a number</span
          >
          <span *ngIf="signUpForm.get('password').errors?.hasCapitalCase"
            >,an Uppercase</span
          >
          <span *ngIf="signUpForm.get('password').errors?.hasSmallCase"
            >and lowercase
          </span>
          <span
            *ngIf="
              signUpForm.get('password').errors?.hasSmallCase ||
              signUpForm.get('password').errors?.hasCapitalCase
            "
            >letter.</span
          >
        </small>
      </div>
    </div>

    <button
      (click)="signUp()"
      type="submit"
      class="btn"
      [disabled]="signUpForm.invalid"
    >
      Register
    </button>
  </div>
</form>
