<ng-container *ngIf="isReceiverNull">
  <div class="container-md" *ngIf="loggedInUser$ | async">
    <h4>Use search box to filter Users to Chat or see their Profile</h4>
    <div *ngIf="allUsersProfile" class="box box-primary">
      <div class="box-body">
        <table class="table table-sm table-dark table-hover">
          <tbody>
            <tr *ngFor="let userProfile of matchingUsersArray$ | async">
              <td>
                <img
                  height="30px"
                  width="30px"
                  class="rounded-circle img-circle"
                  [src]="userProfile?.image"
                />
              </td>
              <td>
                <a>{{ userProfile.address?.user.username }}</a>
              </td>

              <td>
                <span style="display: inline-block"
                  >{{ "Profile "
                  }}<i
                    class="fa fa-external-link"
                    [routerLink]="[
                      'user/view-profile',
                      userProfile.address?.user.id
                    ]"
                  ></i>
                </span>
              </td>
              <td>
                <span style="display: inline-block"
                  >{{ "Chat "
                  }}<i
                    class="fa fa-comments-o"
                    (click)="setIsReceiverNull(userProfile.address?.user)"
                  ></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="!allUsersProfile">
      <p>All profiles not loaded yet</p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!isReceiverNull" class="form-wrapper">
  <form #chatForm="ngForm" *ngIf="message.receiver">
    <div class="form-group mt-4">
      <div class="form-group chat-container">
        <div *ngFor="let messageObj of display.messageArray">
          <div id="textMessage" [ngClass]="messageObj.alignment">
            <label style="color: #05858f"
              >{{ messageObj.message.sender + ":" }}
            </label>
            <p style="text-align: left">
              {{ messageObj.message.content }}
            </p>
            <p style="text-align: left; margin: 0px">
              {{ messageObj.message.timestamp }}
            </p>
          </div>
        </div>
      </div>

      <div class="form-group right mb-3" style="margin: 0px 10px">
        <div class="form-group input-group">
          <input
            type="text"
            list="brow"
            name="search"
            aria-label="Search"
            placeholder="Search"
            class="form-control"
            aria-describedby="search-mic-btn"
            #search
            [ngModel]="spokenKeyword$ | async"
          />

          <button
            class="btn btn-highlight"
            type="button"
            id="search-mic-btn"
            (click)="setListenClicks$()"
          >
            <i class="fa fa-microphone"></i>
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!chatForm.form.valid"
            (click)="createMessage(search.value)"
          >
            Send
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-container>
