<ng-container *ngIf="isReceiverNull">
  <div class="container-md box box-primary" *ngIf="loggedInUser$ | async">
    <div class="box-body text-center">
      <div *ngIf="allUserProfiles$ | async">
        <h4>Use search box to filter Users to Chat or see their Profile</h4>
        <table class="table table-sm table-dark table-hover">
          <tbody>
            <tr *ngFor="let userProfile of suggestedUsers$ | async">
              <td>
                <img
                  height="30px"
                  width="30px"
                  class="rounded-circle img-circle"
                  [src]="userProfile?.image"
                />
              </td>
              <td>
                <a>{{ userProfile.address?.user.username }}</a>
              </td>

              <td>
                <button
                  class="btn"
                  type="button"
                  style="
                    color: white;
                    cursor: pointer;
                    border-radius: 5px 5px;
                    display: inline-block;
                  "
                  [routerLink]="[
                    '/user/view-profile',
                    userProfile.address?.user.id
                  ]"
                >
                  <span class="d-none d-md-block">{{ "Profile " }}</span
                  ><i class="fa fa-user"></i>
                </button>
              </td>
              <td>
                <button
                  class="btn"
                  type="button"
                  style="
                    color: white;
                    cursor: pointer;
                    border-radius: 5px 5px;
                    display: inline-block;
                  "
                  (click)="setIsReceiverNull(userProfile.address?.user)"
                >
                  <span class="d-none d-md-block">{{ "Chat " }}</span
                  ><i class="fa fa-comments-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="!(allUserProfiles$ | async)">
        <div class="fa fa-spinner fa-spin"></div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!isReceiverNull" class="form-wrapper">
  <form #chatForm="ngForm" *ngIf="message.receiver">
    <div class="form-group mt-4">
      <div class="form-group chat-container">
        <div *ngFor="let messageObj of display.messageArray">
          <div id="textMessage" [ngClass]="messageObj.alignment">
            <label style="color: var(--navbar-primary)"
              ><strong>{{ messageObj.message.sender + ":" }}</strong>
            </label>
            <p style="text-align: left">
              {{ messageObj.message.content }}
            </p>
            <p style="text-align: left; margin: 0px">
              {{ messageObj.message.timestamp }}
            </p>
          </div>
        </div>
      </div>

      <div class="form-group right mb-3" style="margin: 0px 10px">
        <div class="form-group input-group">
          <input
            type="text"
            list="brow"
            name="search"
            id="chat-input"
            aria-label="Search"
            placeholder="Search"
            class="form-control"
            aria-describedby="search-mic-btn"
            #search
            [ngModel]="chatSpokenKeyword$ | async"
          />

          <button
            class="btn btn-highlight"
            type="button"
            id="search-mic-btn"
            (click)="setListenClicks$()"
          >
            <i class="fa fa-microphone"></i>
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!chatForm.form.valid"
            (click)="createMessage(search)"
          >
            Send
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-container>
