i .fa {
  font-size: 20px;
}

.site-header {
  top: 0;
  margin: 0px;
  padding: 0px;

  .primary-nav {
    min-height: 60px;

    .navbar {
      padding: 0%;
      display: grid;
      grid-template-columns: auto 1fr;

      .navbar-brand {
        grid-column: 1/2;
        color: #764abc;
        font-weight: 500;
        margin: 0px 8px 0px 5px;
        font-size: xx-large;
        vertical-align: middle;
      }

      .searchBox {
        display: inline-flex;
        inline-size: 100%;
        grid-column: 2/4;
        place-items: center;
      }
    }
  }

  .secondary-nav {
    margin: 0px;
    padding: 0px;

    .justify-content-center {
      -ms-flex-pack: center !important;
      justify-content: center !important;
    }

    .sticky-top {
      position: -webkit-sticky;
      position: sticky;
    }

    .navbar {
      padding: 0%;
      min-block-size: 50px;
      background-color: #003542 !important;

      .navbar-toggler {
        padding: 6px 8px;
      }

      #secondaryNavbarToggle {
        .navbar-nav {
          .nav-item {
            height: 100%;
            cursor: pointer;
            padding: 0px 4px 0px 4px;
            margin: 0px 0px 0px 13px;

            p {
              margin-bottom: 0px;
            }

            a {
              color: rgb(255, 255, 255, 1);
            }

            .nav-link {
              display: inline-flex;
              gap: 0.5rem;
              place-items: center;
              justify-content: space-between;
            }
          }

          .nav-item :hover {
            color: rgb(255, 255, 255, 0.5);
          }

          .dropdown {
            .dropdown-menu a {
              color: black;
              background-color: white;
            }

            .dropdown-menu a:hover {
              color: white;
              background-image: none;
              background-color: #0366d6;
            }
          }
        }
      }
    }
  }
}
