<div class="site-header">
  <div class="container-md row">
    <div class="col-md-12 primary-nav">
      <nav class="navbar navbar-header navbar-expand-md navbar-light bg-white">
        <a class="navbar-brand" routerLink="/">PiBee</a>

        <div class="mr-auto searchBox">
          <ul class="navbar-nav">
            <!-- Navigation Link for Search Bar -->
            <li
              class="nav-item"
              data-toggle="collapse"
              data-target="collapse.show"
            >
              <app-search></app-search>
            </li>
          </ul>
        </div>

        <button
          class="navbar-toggler hidden-md-down"
          type="button"
          data-toggle="collapse"
          data-target="#primaryNavbarToggle"
          aria-controls="primaryNavbarToggle"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="navbar-collapse primary-collapse collapse"
          id="primaryNavbarToggle"
        >
          <ul class="navbar-nav ml-auto">
            <!-- Display Username -->
            <li
              class="nav-item welcome-note"
              data-toggle="collapse"
              data-target="collapse.show"
            >
              <a
                *ngIf="loggedInUser"
                class="nav-link username"
                [routerLink]="['/view-profile', loggedInUser?.id]"
              >
                <span>{{ "Welcome " }}</span>
                <span>{{ loggedInUser?.username }}</span>
              </a>
            </li>

            <!-- Link for Profile Photo -->
            <li
              class="nav-item profile-image"
              data-toggle="collapse"
              data-target="collapse.show"
            >
              <a [routerLink]="['/view-profile', loggedInUser?.id]">
                <img
                  *ngIf="userProfile$ | async"
                  height="40px"
                  width="40px"
                  class="rounded-circle"
                  [src]="(userProfile$ | async).image"
                />
              </a>

              <div
                *ngIf="!(userProfile$ | async)"
                class="spinner-grow spinner-grow-sm"
                role="status"
              >
                <span class="sr-only">Loading...</span>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 secondary-nav">
      <nav
        class="navbar navbar-inverse navbar-expand-md navbar-dark sticky-top"
      >
        <p></p>

        <button
          class="navbar-toggler mr-3"
          type="button"
          data-toggle="collapse"
          data-target="#secondaryNavbarToggle"
          aria-controls="secondaryNavbarToggle"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="navbar-collapse collapse justify-content-center"
          id="secondaryNavbarToggle"
        >
          <ul class="navbar-nav">
            <!-- If the user is Authenticated -->
            <ng-template [ngIf]="isLoggedIn()" [ngIfElse]="loggedOut">
              <!-- Navigation link for Chat -->
              <li
                class="nav-item"
                data-toggle="collapse"
                data-target="navbar-collapse.show"
              >
                <a class="nav-link" routerLink="chatapp/">
                  <span>Chat</span>
                  <i class="fa fa-comments-o" aria-hidden="true"></i>
                </a>
              </li>

              <!-- Dropdown for Notification -->
              <li
                class="nav-item dropdown"
                data-toggle="collapse"
                data-target="navbar-collapse.show"
              >
                <a
                  class="nav-link"
                  id="notificationToggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="true"
                >
                  <span>Notifications</span>
                  <i class="fa fa-bell"></i>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="notificationToggle"
                >
                  <span class="dropdown-item text-light bg-dark"
                    >Notifications</span
                  >
                  <a class="dropdown-item" routerLink="/">Notification 1</a>
                  <a class="dropdown-item" routerLink="/">Notification 1</a>
                </div>
              </li>

              <!-- Dropdown for Messages -->
              <li
                class="nav-item dropdown"
                data-toggle="collapse"
                data-target="navbar-collapse.show"
              >
                <a
                  class="nav-link"
                  id="messageToggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span>Messages</span>
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="messageToggle"
                >
                  <span class="dropdown-header text-light bg-dark"
                    >Messages</span
                  >
                  <a class="dropdown-item" routerLink="/">Message 1</a>
                  <a class="dropdown-item" routerLink="/">Message 1</a>
                </div>
              </li>

              <!-- Dropdown for Settings -->
              <li
                class="nav-item dropdown"
                data-toggle="collapse"
                data-target="navbar-collapse.show"
              >
                <!-- Settings symbol for settings dropdown -->
                <a
                  class="nav-link"
                  id="settingsToggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span>Settings</span>
                  <i class="fa fa-cog" aria-hidden="true"></i>
                </a>

                <!-- Settings Dropdown -->
                <div
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="settingsToggle"
                >
                  <span class="dropdown-item text-light bg-dark">Settings</span>

                  <!-- Link for Editing User Details -->
                  <a class="dropdown-item" routerLink="edit-details/">
                    <i class="fa fa-edit mr-2"></i>Edit Details
                  </a>

                  <!-- Link for Changing User Password -->
                  <a class="dropdown-item" routerLink="change-password/">
                    <i class="fa fa-edit mr-2"></i>Change Password
                  </a>

                  <a
                    class="dropdown-item"
                    (click)="deactivateUser()"
                    routerLink="/"
                  >
                    <i class="fa fa-times mr-2"></i>Deactivate Account
                  </a>
                </div>
              </li>

              <!-- Dropdown for User Profile -->
              <li
                class="nav-item dropdown"
                data-toggle="collapse"
                data-target="navbar-collapse.show"
              >
                <a
                  class="nav-link"
                  id="userProfileToggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span>Profile</span>
                  <i class="fa fa-user-circle-o"></i>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="userProfileToggle"
                >
                  <a
                    *ngIf="loggedInUser"
                    class="dropdown-item"
                    [routerLink]="['/view-profile', loggedInUser?.id]"
                  >
                    <div class="row text-center">
                      <div class="col-md-1">
                        <i class="fa fa-user mt-3"></i>
                      </div>

                      <div class="col-md-5" style="margin-left: -6px">
                        Signed in as
                        <br />
                        <span class="font-weight-bold">{{
                          loggedInUser.username
                        }}</span>
                      </div>
                    </div>
                  </a>

                  <div class="dropdown-divider"></div>

                  <a class="dropdown-item" routerLink="edit-profile/">
                    <span class="fa fa-edit mr-2"></span>Edit Profile
                  </a>

                  <a class="dropdown-item" routerLink="logout/">
                    <i class="fa fa-sign-out mr-2" aria-hidden="true"></i>Logout
                  </a>
                </div>
              </li>

              <!-- Dropdown for Admin -->
              <li
                class="nav-item dropdown"
                data-toggle="collapse"
                data-target="navbar-collapse.show"
              >
                <!-- Settings symbol for settings dropdown -->
                <a
                  class="nav-link"
                  id="adminToggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Admin
                </a>

                <!-- Admin Dropdown -->
                <div
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="settingsToggle"
                >
                  <span class="dropdown-item text-light bg-dark"
                    >Admin Panel</span
                  >

                  <!-- Link for Admin Site -->
                  <a
                    class="dropdown-item"
                    href="https://pibeedjango.herokuapp.com/admin"
                  >
                    <i class="fa fa-dashboard mr-2"></i>Dashboard
                  </a>

                  <!-- Link for Github -->
                  <a class="dropdown-item" href="https://github.com/amishm766">
                    <i class="fa fa-github mr-2"></i>Github
                  </a>
                </div>
              </li>
            </ng-template>

            <!-- If the user is not Authenticated or Logged Out -->
            <ng-template #loggedOut>
              <!-- Navigation Link to Login -->
              <li
                class="nav-item dropdown"
                data-toggle="collapse"
                data-target="navbar-collapse.show"
              >
                <p class="nav-link" routerLink="login/">
                  <span
                    ><i class="fa fa-sign-in mr-2" aria-hidden="true"></i
                    >Login</span
                  >
                </p>
              </li>

              <!-- Navigation Link to Register -->
              <li
                class="nav-item dropdown"
                data-toggle="collapse"
                data-target="navbar-collapse.show"
              >
                <p class="nav-link" routerLink="register/">
                  <span>Register</span>
                </p>
              </li>
            </ng-template>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
