i .fa {
  font-size: 20px;
}

.site-header {
  top: 0;
  margin: 0px;
  padding: 0px;

  .primary-nav {
    min-height: 60px;

    .navbar {
      padding: 0%;
      display: grid;
      grid-template-columns: auto 1fr auto;

      .navbar-brand {
        grid-column: 1/2;
        color: #764abc;
        font-weight: 500;
        margin: 0px 8px 0px 5px;
        font-size: xx-large;
        vertical-align: middle;
      }

      .searchBox {
        width: 100%;
        grid-column: 2/3;
        place-items: center;
      }

      .navbar-toggler {
        padding: 2px 6px;
      }

      #primaryNavbarToggle {
        grid-column: 3/4;
        .navbar-nav {
          .nav-item {
            margin: 0;
            height: 100%;
            cursor: pointer;
            padding: 10px 5px;

            .username {
              margin: 2px 0px;
              border-radius: 20px;
              vertical-align: middle;
              padding: 5px 15px 5px 15px;
              border: 2px solid #08192b;
              display: inline-block !important;
            }
          }

          .welcome-note {
            white-space: nowrap;
            display: inline-block !important;
          }

          .profile-image {
            display: inline-block !important;
          }
        }
      }
    }
  }

  .secondary-nav {
    margin: 0px;
    padding: 0px;

    .justify-content-center {
      -ms-flex-pack: center !important;
      justify-content: center !important;
    }

    .justify-content-right {
      justify-content: right !important;
    }

    .sticky-top {
      position: -webkit-sticky;
      position: sticky;
    }

    .navbar {
      padding: 0%;
      // background-color: #08192b;
      // background-image: linear-gradient(to right, #764abc, rgb(134, 38, 195));
      background-color: #003542 !important;

      .navbar-toggler {
        padding: 6px 8px;
      }

      #secondaryNavbarToggle {
        .navbar-nav {
          .nav-item {
            height: 100%;
            cursor: pointer;
            padding: 0px 4px 0px 4px;
            margin: 0px 0px 0px 13px;

            p {
              margin-bottom: 0px;
            }

            a {
              color: rgb(255, 255, 255, 1);
            }
          }

          .nav-item :hover {
            color: rgb(255, 255, 255, 0.5);
          }

          .dropdown .dropdown-menu a {
            color: black;
            background-color: white;
          }

          .dropdown .dropdown-menu a:hover {
            color: white;
            background-image: none;
            background-color: #0366d6;
          }
        }
      }
    }
  }
}
