<form class="form-group">
  <div class="form-group input-group">
    <input
      type="text"
      list="brow"
      name="search"
      aria-label="Search"
      placeholder="Search"
      class="form-control"
      aria-describedby="search-mic-btn"
      #search
      [ngModel]="getSearchBoxQuery$() | async"
      (ngModelChange)="setSearchBoxQuery$($event)"
    />

    <button
      class="btn"
      type="button"
      id="search-mic-btn"
      (click)="setListenClicks$()"
    >
      <i class="fa fa-microphone" id="search-mic"></i>
    </button>
  </div>
</form>
