.nav-tabs-custom {
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    a {
      position: relative;
      display: block;
      padding: 10px 15px;
    }
  }

  .nav-tabs {
    margin: 0;
    border-bottom-color: #f4f4f4;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 1px solid #ddd;
  }

  .tab-content {
    background: #fff;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

    .active {
      display: block;
    }

    .tab-pane {
      //   display: none;
      .post {
        border-bottom: 1px solid #d2d6de;
        margin-bottom: 15px;
        padding-bottom: 15px;
        color: #666;

        a {
          color: #3c8dbc;
          text-decoration: none;
        }

        .user-block {
          margin-bottom: 15px;

          a {
            color: #3c8dbc;
            text-decoration: none;
          }

          img {
            inline-size: 40px;
            height: 40px;
            float: left;
          }

          .username {
            font-size: 16px;
            font-weight: 600;
          }

          .description {
            color: #999;
            font-size: 13px;
          }

          .username,
          .description,
          .comment {
            display: block;
            margin-left: 50px;
          }
        }

        .link-black:hover,
        .link-black:focus {
          color: #999;
        }
      }

      .timeline {
        position: relative;
        margin: 0 0 30px 0;
        padding: 0;
        list-style: none;

        li {
          position: relative;
          margin-right: 10px;
          margin-bottom: 15px;

          .fa,
          .glyphicon,
          .ion {
            inline-size: 30px;
            height: 30px;
            font-size: 15px;
            line-height: 30px;
            position: absolute;
            color: #666;
            background: #d2d6de;
            border-radius: 50%;
            text-align: center;
            left: 18px;
            top: 0;
          }

          .timeline-item {
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            margin-top: 0;
            background: #fff;
            color: #444;
            margin-left: 60px;
            margin-right: 15px;
            padding: 0;
            position: relative;

            .time {
              color: #999;
              float: right;
              padding: 10px;
              font-size: 12px;
            }

            .timeline-header {
              margin: 0;
              color: #555;
              border-bottom: 1px solid #f4f4f4;
              padding: 10px;
              font-size: 16px;
              line-height: 1.1;
              display: block;
            }
          }
        }

        li:before,
        li:after {
          content: " ";
          display: table;
        }
      }

      .timeline:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        inline-size: 4px;
        background: #ddd;
        left: 31px;
        margin: 0;
        border-radius: 2px;
      }

      .timeline-inverse {
        li {
          .timeline-item {
            background: #f0f0f0;
            border: 1px solid #ddd;
            -webkit-box-shadow: none;
            box-shadow: none;

            .timeline-header {
              border-bottom-color: #ddd;
            }

            .timeline-body,
            .timeline-footer {
              padding: 10px;
            }
          }
        }
      }
    }
  }
}
