<form [formGroup]="signInForm">
  <div class="form-group mt-5 mb-5">
    <h2 class="form-heading">Sign In</h2>

    <div class="form-group mt-3">
      <label class="form-label required">Username</label>
      <div class="row" style="margin: 0px;">
        <input
          type="text"
          autofocus
          autocomplete="username"
          class="form-control"
          formControlName="username"
          [ngClass]="{
            'is-invalid': isInValid(value('username')),
            'is-valid': isValid(value('username'))
          }"
        />

        <small
          *ngIf="
            value('username').touched && value('username').errors?.required
          "
          class="alert alert-danger alert-icon"
          ><span style="margin-left: 20px;">{{
            "Username is Mandatory."
          }}</span></small
        >
      </div>
    </div>

    <div class="form-group">
      <label class="form-label required">Password</label>
      <div class="row" style="margin: 0px;">
        <input
          required
          type="password"
          class="form-control"
          formControlName="password"
          [ngClass]="{
            'is-invalid': isInValid(value('password')),
            'is-valid': isValid(value('password'))
          }"
        />

        <small
          *ngIf="
            value('password').touched && value('password').errors?.required
          "
          class="alert alert-danger alert-icon"
          ><span style="margin-left: 20px;">{{
            "Password is Mandatory."
          }}</span></small
        >
      </div>
    </div>

    <button
      type="submit"
      (click)="signIn()"
      class="btn"
      [disabled]="signInForm.invalid"
      [ngClass]="{
        'form-valid': !signInForm.invalid,
        'form-invalid': signInForm.invalid
      }"
    >
      Sign In
    </button>
  </div>
</form>
