<main role="main" class="jumbotron">
  <div class="row">
    <div class="col-md-8" style="margin-right: -1px;">
      <router-outlet></router-outlet>
    </div>
    <div style="border-right: 1px solid #333;"></div>
    <div class="col-md-4 article-container">
      <div class="content-section">
        <h3 class="article-title">Sidebar</h3>
        <p class="text-muted">Yet to be designed</p>
        <ul class="article-content list-group">
          <li href="#" class="list-group-item list-group-item-light">Page 1</li>
          <li href="#" class="list-group-item list-group-item-light">Page 1</li>
          <li href="#" class="list-group-item list-group-item-light">Page 1</li>
          <li href="#" class="list-group-item list-group-item-light">Page 1</li>
          <li href="#" class="list-group-item list-group-item-light">Page 1</li>
        </ul>
      </div>

      <div class="card" style="margin: 0px 10px 10px 0px;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary right">Visit Site</a>
        </div>
      </div>
    </div>
  </div>
</main>
