<ng-template [ngIf]="!isUserConfirmed" [ngIfElse]="confirmed">
  <form [formGroup]="confirmUserForm">
    <div class="form-group">
      <h3 class="form-heading mt-4 mb-5">
        Confirm password for {{ value_c("username").value }}
      </h3>
      <div class="form-group">
        <label class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          formControlName="username"
          readonly
        />
      </div>

      <div class="form-group">
        <label class="form-label required">Password</label>
        <div class="row" style="margin: 0px;">
          <input
            autofocus
            type="password"
            class="form-control"
            formControlName="password"
            [ngClass]="{
              'is-invalid': isInValid(value_c('password')),
              'is-valid': isValid(value_c('password'))
            }"
          />

          <small
            *ngIf="
              value_c('password').touched &&
              value_c('password').errors?.required
            "
            class="alert alert-danger alert-icon"
            ><span style="margin-left: 20px;">{{
              "Password is Mandatory."
            }}</span></small
          >
        </div>
      </div>

      <button
        (click)="confirmUser()"
        type="submit"
        class="btn"
        [disabled]="confirmUserForm.invalid"
        [ngClass]="{
          'form-valid': !confirmUserForm.invalid,
          'form-invalid': confirmUserForm.invalid
        }"
      >
        Confirm
      </button>
    </div>
  </form>
</ng-template>

<ng-template #confirmed>
  <form [formGroup]="editDetailsForm">
    <div class="form-group">
      <h3 class="form-heading mb-3">Edit Details</h3>
      <div class="form-group">
        <label class="form-label required">Username</label>
        <div class="row" style="margin: 0px;">
          <input
            type="text"
            class="form-control input-sm"
            formControlName="username"
            [ngClass]="{
              'is-invalid': isInValid(value_e('username')),
              'is-valid': isValid(value_e('username'))
            }"
          />

          <div class="valid-feedback">
            Username is available.
          </div>

          <small
            *ngIf="value_e('username').errors?.alreadyTakenError"
            class="alert alert-danger alert-icon"
            ><span style="margin-left: 20px;">{{
              "Username is already Taken."
            }}</span></small
          >

          <small
            *ngIf="
              value_e('username').touched &&
              value_e('username').errors?.required
            "
            class="alert alert-danger alert-icon"
            ><span style="margin-left: 20px;">{{
              "Username is Mandatory."
            }}</span></small
          >
        </div>
        <small
          *ngIf="
            value_e('username').dirty && value_e('username').errors?.required
          "
          style="color: grey;"
        >
          {{ "*Username need atleast 3 characters." }}
        </small>
        <small
          *ngIf="
            value_e('username').dirty && value_e('username').errors?.minlength
          "
          style="color: grey;"
          >{{ "*Username need" }}
          {{
            value_e("username").errors?.minlength.requiredLength -
              value_e("username").errors?.minlength.actualLength
          }}
          {{ "more characters." }}</small
        >
      </div>

      <div class="form-group">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" formControlName="first_name" />
      </div>

      <div class="form-group">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" formControlName="last_name" />
      </div>

      <div class="form-group">
        <label class="form-label required">Email</label>
        <div class="row" style="margin: 0px;">
          <input
            type="email"
            class="form-control"
            formControlName="email"
            [ngClass]="{
              'is-valid': isValid(value_e('email')),
              'is-invalid': isInValid(value_e('email'))
            }"
          />

          <div class="valid-feedback">
            Email is avaliable.
          </div>

          <small
            *ngIf="value_e('email').errors?.alreadyTakenError"
            class="alert alert-danger alert-icon"
            ><span style="margin-left: 20px;">{{
              "Email is already Taken."
            }}</span></small
          >

          <small
            *ngIf="
              isInValid(value_e('email')) && value_e('email').errors?.pattern
            "
            class="alert alert-danger alert-icon"
            ><span style="margin-left: 20px;">{{
              "Enter email in valid format."
            }}</span></small
          >

          <small
            *ngIf="
              value_e('email').touched && value_e('email').errors?.required
            "
            class="alert alert-danger alert-icon"
            ><span style="margin-left: 20px;">{{
              "Email is Mandatory."
            }}</span></small
          >
        </div>
      </div>

      <button
        (click)="changeUserDetails()"
        type="submit"
        class="btn"
        [disabled]="editDetailsForm.invalid"
        [ngClass]="{
          'form-valid': !editDetailsForm.invalid,
          'form-invalid': editDetailsForm.invalid
        }"
      >
        Edit Details
      </button>
    </div>
  </form>
</ng-template>
