<div
  id="carouselExampleFade"
  class="carousel slide"
  data-ride="carousel"
  style="margin: 0px 0px 0px 10px;"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleCaptions"
      data-slide-to="0"
      class="active"
    ></li>
    <div *ngFor="let number of numberArray">
      <li data-target="#carouselExampleCaptions" data-slide-to="number"></li>
    </div>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" style="height: 300px;">
      <img
        src="../../../../assets/media/logos/card.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div
      *ngFor="let number of numberArray"
      class="carousel-item"
      style="height: 300px;"
    >
      <img
        src="../../../../assets/media/logos/card.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleFade"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleFade"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div *ngIf="loggedInUser$ | async">
  <h4>Search in the search box to see users and their profile</h4>
  <div *ngIf="allUsersProfile">
    <div style="margin: 0px 5px 0px 5px;">
      <table class="table table-sm table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userProfile of matchingUsersArray$ | async">
            <td>
              <a
                [routerLink]="['view-profile', userProfile.address?.user.id]"
                style="color: white;"
                ><img
                  height="30px"
                  width="30px"
                  class="rounded-circle"
                  [src]="(userProfile$ | async)?.image"
                />
                {{ " " }}{{ userProfile.address?.user.username }}</a
              >
            </td>
            <td>{{ userProfile.address?.user.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="!(loggedInUser$ | async)">
  <p>{{ "Not logged In" }}</p>
</div>

<simple-notifications></simple-notifications>
