<form [formGroup]="signUpForm">
  <div class="form-group">
    <h4 class="form-heading">Register</h4>

    <div class="form-group">
      <label class="form-label required">Username</label>
      <div class="row" style="margin: 0px;">
        <input
          type="text"
          class="form-control"
          formControlName="username"
          [ngClass]="{
            'is-invalid': isInValid(value('username')),
            'is-valid': isValid(value('username'))
          }"
        />

        <div class="valid-feedback">
          Username is available.
        </div>

        <small
          *ngIf="value('username').errors?.alreadyTakenError"
          class="alert alert-danger alert-icon"
          ><span style="margin-left: 20px;">{{
            "Username is already Taken."
          }}</span></small
        >

        <small
          *ngIf="
            value('username').touched && value('username').errors?.required
          "
          class="alert alert-danger alert-icon"
          ><span style="margin-left: 20px;">{{
            "Username is Mandatory."
          }}</span></small
        >
      </div>
      <small
        *ngIf="!value('username').dirty || value('username').errors?.required"
        style="color: grey;"
      >
        {{ "*Username need atleast 3 characters." }}
      </small>
      <small
        *ngIf="value('username').errors?.minlength && value('username').dirty"
        style="color: grey;"
        >{{ "*Username need" }}
        {{
          value("username").errors?.minlength.requiredLength -
            value("username").errors?.minlength.actualLength
        }}
        {{ "more characters." }}</small
      >
    </div>

    <div class="form-group">
      <label class="control-label">First Name</label>
      <input type="text" class="form-control" formControlName="first_name" />
    </div>

    <div class="form-group">
      <label class="form-label">Last Name</label>
      <input type="text" class="form-control" formControlName="last_name" />
    </div>

    <div class="form-group">
      <label class="form-label required">Email</label>
      <div class="row" style="margin: 0px;">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          [ngClass]="{
            'is-valid': isValid(value('email')),
            'is-invalid': isInValid(value('email'))
          }"
        />

        <div class="valid-feedback">
          Email is available.
        </div>

        <small
          *ngIf="value('email').errors?.alreadyTakenError"
          class="alert alert-danger alert-icon"
          ><span style="margin-left: 20px;">{{
            "Email is already Taken."
          }}</span></small
        >

        <small
          *ngIf="isInValid(value('email')) && value('email').errors?.pattern"
          class="alert alert-danger alert-icon"
          ><span style="margin-left: 20px;">{{
            "Enter email in valid format."
          }}</span></small
        >

        <small
          *ngIf="value('email').touched && value('email').errors?.required"
          class="alert alert-danger alert-icon"
          ><span style="margin-left: 20px;">{{
            "Email is Mandatory."
          }}</span></small
        >
      </div>
    </div>

    <div class="form-group">
      <label class="form-label required">Password</label>
      <div class="row" style="margin: 0px;">
        <input
          type="password"
          class="form-control"
          formControlName="password"
          [ngClass]="{
            'is-valid': isValid(value('password')),
            'is-invalid': isInValid(value('password'))
          }"
        />

        <div class="valid-feedback">
          Password is in Valid format.
        </div>

        <small
          *ngIf="value('password').touched && value('password').errors?.pattern"
          class="alert alert-danger alert-icon"
          ><span style="margin-left: 20px;">{{
            "Enter password in valid format."
          }}</span></small
        >

        <small
          *ngIf="
            value('password').touched && value('password').errors?.required
          "
          class="alert alert-danger alert-icon"
          ><span style="margin-left: 20px;">{{
            "Password is Mandatory."
          }}</span></small
        >
      </div>
      <small
        *ngIf="value('password').errors?.required || value('password').dirty"
        style="color: grey;"
      >
        <ng-template #initialText>
          <span *ngIf="!isValid(value('password'))">{{
            "*Need 8 characters including a number,an Uppercase and lowercase letter."
          }}</span>
        </ng-template>
        <div
          *ngIf="
            value('password').dirty &&
              value('password').errors &&
              !value('password').errors?.required;
            else initialText
          "
        >
          *Need
          <span *ngIf="value('password').errors?.minlength">
            {{
              value("password").errors?.minlength.requiredLength -
                value("password").errors?.minlength.actualLength
            }}
            <span
              *ngIf="
                value('password').errors?.minlength.requiredLength -
                  value('password').errors?.minlength.actualLength >
                1
              "
              >{{ "characters, " }}</span
            >
            <span
              *ngIf="
                value('password').errors?.minlength.requiredLength -
                  value('password').errors?.minlength.actualLength <=
                1
              "
              >{{ "character, " }}</span
            >
          </span>
          <span *ngIf="value('password').errors?.hasNumber">{{
            "a number, "
          }}</span>
          <span *ngIf="value('password').errors?.hasCapitalCase">{{
            "an Uppercase "
          }}</span>
          <span *ngIf="value('password').errors?.hasSmallCase"
            >{{ "and lowercase" }}
          </span>
          <span
            *ngIf="
              value('password').errors?.hasSmallCase ||
              value('password').errors?.hasCapitalCase
            "
            >{{ " letter." }}</span
          >
        </div>
      </small>
    </div>

    <button
      (click)="signUp()"
      type="submit"
      class="btn"
      [disabled]="signUpForm.invalid"
      [ngClass]="{
        'form-valid': !signUpForm.invalid,
        'form-invalid': signUpForm.invalid
      }"
    >
      Register
    </button>
  </div>
</form>
