<form class="ml-4 mt-4" #changePasswordForm="ngForm">
    <h3 class="font-weight-bold">Change Password</h3>
    <div class="form-group">
        <label class="font-weight-bold">Old Password :</label>
        <input type="password" class="form-control" name="oldPassword" #oldPassword="ngModel" [(ngModel)] = "changePasswordFormData.user.oldPassword" required>
        <div [hidden]="oldPassword.valid || oldPassword.pristine" ></div>
    </div>

    <div class="form-group">
        <label class="font-weight-bold">New Password :</label>
        <input type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="password" #password="ngModel" [(ngModel)] = "changePasswordFormData.user.password" required>
        <div [hidden]="password.valid || password.pristine" ></div>
    </div>

    <!-- <div class="form-group">
        <label class="font-weight-bold">Confirm Password :</label>
        <input type="password" class="form-control" name="confirmPassword" #confirmPassword required>
        <div [hidden]="(confirmPassword.valid || confirmPassword.pristine)" ></div>
    </div> -->

    <button (click)="confirmUser()" type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.form.valid">Change</button>

</form>