h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

i .fa {
  font-size: 20px;
}

input {
  max-width: 230px;
  font-size: 30px;
}

.navbar {
  padding: 0%;
  background-color: #08192b;
}

.site-header #navbarToggle .navbar-nav .nav-item {
  margin: 0;
  height: 100%;
  cursor: pointer;
  padding: 0px 4px 0px 4px;
}

.site-header #navbarToggle .navbar-nav .nav-item :hover {
  color: white;
}

.site-header #navbarToggle .navbar-nav .nav-item p {
  margin-bottom: 0px;
}

.site-header #navbarToggle .navbar-nav .dropdown .dropdown-menu a {
  background-color: white;
}

.site-header #navbarToggle .navbar-nav .dropdown .dropdown-menu a:hover {
  background-color: #0366d6;
  background-image: none;
}

.site-header #navbarToggle .navbar-nav .dropdown .dropdown-menu > button:hover {
  cursor: pointer;
  background-color: #0366d6;
  background-image: none;
}
