h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

i .fa {
  font-size: 20px;
}

input {
  max-width: 230px;
  font-size: 30px;
}

label {
  font-size: 10px;
}

main {
  /* margin: 0 auto; */
  padding: 10px 0px 0px 0px;
  margin: 48px 30px 0px 30px;
}

.bg-steel {
  background-color: #08192b;
}

.navbar {
  padding: 0%;
  background-color: #08192b;
}

.site-header #navbarToggle .navbar-nav .dropdown {
  padding: 4px 8px 4px 8px;
  background-color: #08192b;
}

.site-header #navbarToggle .navbar-nav .dropdown .dropdown-menu > a {
  background-color: white;
}

.site-header #navbarToggle .navbar-nav .dropdown .dropdown-menu > a:hover {
  background-color: #0366d6;
  background-image: none;
}

.site-header #navbarToggle .navbar-nav .dropdown .dropdown-menu > button:hover {
  cursor: pointer;
  background-color: #0366d6;
  background-image: none;
}

.site-header #navbarToggle .navbar-nav .dropdown .nav-link {
  margin: 0;
  cursor: pointer;
  padding: 4px 4px 4px 4px;
  color: white;
}

.article-container {
  margin-top: auto;
  margin-bottom: auto;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.article-title {
  color: #444444;
}

.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.card-container {
  margin-top: -13px;
  overflow: auto;
  max-height: 85px;
}

.footer {
  padding: 0px 0px 16px 0px;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #08192b;
}
