<section class="content">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="box box-primary">
        <div class="box-body text-center">
          <div *ngIf="userProfile$ | async">
            <div class="text-center">
              <img
                *ngIf="userProfile$ | async"
                class="profile-user-img img-responsive img-circle"
                src="{{ (userProfile$ | async)?.image }}"
                alt="User profile picture"
              />

              <div
                *ngIf="!(userProfile$ | async)"
                class="text-center fa fa-spinner fa-spin"
              ></div>
            </div>

            <h3 class="profile-username text-center">
              {{ (userProfile$ | async)?.address?.user?.first_name }} {{ " " }}
              {{ (userProfile$ | async)?.address?.user?.last_name }}
            </h3>

            <p class="text-muted text-center">
              {{ (userProfile$ | async)?.bio }}
            </p>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <b class="form-label">Username</b>
                <a class="pull-right" name="username">
                  {{ (userProfile$ | async)?.address?.user?.username }}
                </a>
              </li>

              <li class="list-group-item">
                <b class="form-label">DOB</b>
                <a class="pull-right" name="birth_date">{{
                  (userProfile$ | async)?.birth_date
                }}</a>
              </li>

              <li class="list-group-item">
                <b class="form-label">Email</b>
                <a class="pull-right" name="email">
                  {{ (userProfile$ | async)?.address?.user?.email }}
                </a>
              </li>

              <li class="list-group-item">
                <b class="form-label">Email Status</b>
                <a
                  class="pull-right"
                  *ngIf="(userProfile$ | async)?.email_confirmed"
                  name="email_confirmed"
                >
                  {{ "Verified" }}
                </a>
                <a
                  class="pull-right"
                  *ngIf="!(userProfile$ | async)?.email_confirmed"
                  name="email_confirmed"
                >
                  {{ "Not Verified" }}
                </a>
              </li>
            </ul>

            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
          </div>
          <div
            *ngIf="!(userProfile$ | async)"
            class="fa fa-spinner fa-spin"
          ></div>
        </div>
      </div>

      <div class="box box-primary">
        <div class="box-body">
          <div class="box-header with-border">
            <h3 class="box-title">About Me</h3>
          </div>
          <div class="box-body">
            <strong><i class="fa fa-book margin-r-5"></i> Education</strong>
            <br />
            <p class="text-muted">Test text......</p>

            <hr />

            <strong
              ><i class="fa fa-map-marker margin-r-5"></i> Location</strong
            >
            <br />
            <p class="text-muted">
              {{
                (userProfile$ | async)?.address?.street +
                  ", " +
                  (userProfile$ | async)?.address?.city +
                  ", " +
                  (userProfile$ | async)?.address?.state
              }}
            </p>

            <hr />

            <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

            <ul id="image">
              <li class="label label-danger">UI Design</li>
              <li class="label label-success">Coding</li>
              <li class="label label-info">Javascript</li>
              <li class="label label-warning">PHP</li>
              <li class="label label-primary">Node.js</li>
            </ul>

            <hr />

            <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>
            <br />
            <p>Test twxt for Notes.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <!-- <app-view-post></app-view-post> -->
    </div>
  </div>
</section>
