.footer {
  padding: 0px 0px 30px 0px;
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #08192b;
}

.footer .footer-container {
  padding: 1% 6% 0px 6%;
}

.footer p {
  cursor: pointer;
}

.footer * {
  color: white;
}
