<form class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div *ngIf="userProfile$ | async" style="text-align: center;">
        <img
          name="image"
          class="img-responsive rounded-circle"
          src="{{ (userProfile$ | async).image }}"
        />
        <br />
      </div>

      <div *ngIf="!(userProfile$ | async)" style="margin: 50% 50%;">
        <p>Loading...</p>
        <div class="spinner-grow spinner-grow-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-6">
      <div *ngIf="userProfile$ | async">
        <div>
          <label class="form-label">Username</label>
          <p name="username">
            {{ (userProfile$ | async).address.user.username }}
          </p>
        </div>

        <div>
          <label class="form-label">Name</label>
          <p name="name">
            {{ (userProfile$ | async).address.user.first_name }} {{ " " }}
            {{ (userProfile$ | async).address.user.last_name }}
          </p>
        </div>

        <div>
          <label class="form-label">DOB :</label>
          <p name="birth_date">{{ (userProfile$ | async).birth_date }}</p>
        </div>

        <div>
          <label class="form-label">Bio</label>
          <p name="bio">{{ (userProfile$ | async).bio }}</p>
        </div>

        <div>
          <label class="form-label">Email</label>
          <p name="email">{{ (userProfile$ | async).address.user.email }}</p>
        </div>

        <div>
          <label class="form-label">Street</label>
          <p name="street">{{ (userProfile$ | async).address.street }}</p>
        </div>

        <div>
          <label class="form-label">City</label>
          <p name="city">{{ (userProfile$ | async).address.city }}</p>
        </div>

        <div>
          <label class="form-label">State</label>
          <p name="state">{{ (userProfile$ | async).address.state }}</p>
        </div>

        <div>
          <label class="form-label">Zip code</label>
          <p name="zip_code">{{ (userProfile$ | async).address.zip_code }}</p>
        </div>

        <div>
          <label class="form-label">Email Status :</label>
          <p
            *ngIf="(userProfile$ | async).email_confirmed"
            name="email_confirmed"
          >
            {{ "Verified" }}
          </p>
          <p
            *ngIf="!(userProfile$ | async).email_confirmed"
            name="email_confirmed"
          >
            {{ "Not Verified" }}
          </p>
        </div>
      </div>

      <div *ngIf="!(userProfile$ | async)">
        <div
          class="spinner-border"
          style="width: 3rem; height: 3rem; margin: 50% 50%;"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</form>
