<div class="site-container">
  <header>
    <app-navbar></app-navbar>
  </header>
  <main role="main">
    <div class="row site-content">
      <!-- <div class="left-sidebar col-md-2">
        <p></p>
      </div> -->
      <div class="router-content col-md-12">
        <router-outlet></router-outlet>
      </div>

      <!-- <div class="right-sidebar col-md-3">
        <app-sidebar></app-sidebar>
      </div> -->
    </div>
  </main>
  <footer>
    <app-footer></app-footer>
    <simple-notifications></simple-notifications>
  </footer>
</div>
