<form #changePasswordForm="ngForm">
  <h3 class="font-weight-bold mt-5">Change Password</h3>
  <div class="form-group">
    <label class="font-weight-bold">Old Password :</label>
    <input
      type="password"
      class="form-control"
      name="oldPassword"
      #oldPassword="ngModel"
      [(ngModel)]="changePasswordFormData.oldPassword"
      required
    />
    <div [hidden]="oldPassword.valid || oldPassword.pristine"></div>
  </div>

  <div class="form-group">
    <label class="font-weight-bold">New Password :</label>
    <input
      type="password"
      class="form-control"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      name="password"
      #password="ngModel"
      [(ngModel)]="changePasswordFormData.password"
      required
    />
    <div [hidden]="password.valid || password.pristine"></div>
  </div>

  <button
    (click)="confirmUser()"
    type="submit"
    class="btn btn-primary"
    [disabled]="!changePasswordForm.form.valid"
  >
    Change
  </button>
</form>
