i .fa {
  font-size: 20px;
}

.site-header {
  .navbar {
    padding: 0%;
    background-color: #08192b;
    // background-color: #003542 !important;

    #navbarToggle {
      .navbar-nav {
        .nav-item {
          margin: 0;
          height: 100%;
          cursor: pointer;
          padding: 0px 4px 0px 4px;

          p {
            margin-bottom: 0px;
          }

          .username {
            padding: 5px;
            margin: 2px 0px;
            border-radius: 20px;
            display: inline-block;
            border: 2px solid white;
          }
        }

        .nav-item :hover {
          color: white;
        }

        .dropdown .dropdown-menu a {
          background-color: white;
        }

        .dropdown .dropdown-menu a:hover {
          background-color: #0366d6;
          background-image: none;
        }
      }
    }
  }
}
