<form class="form-group" [formGroup]="profileForm">
  <div class="form-group">
    <h2>Edit Profile</h2>
    <div class="form-group">
      <label class="control-label">Bio</label>
      <textarea
        class="form-control"
        rows="2"
        cols="60"
        formControlName="bio"
      ></textarea>
    </div>

    <div class="form-group">
      <label class="control-label">Location</label>
      <input class="form-control" type="text" formControlName="location" />
    </div>

    <div class="form-group">
      <label class="control-label required">Birth date</label>
      <div class="row" style="margin: 0px;">
        <input
          class="form-control"
          type="date"
          formControlName="birth_date"
          [ngClass]="{
            'is-invalid': isInValid(value('birth_date')),
            'is-valid': isValid(value('birth_date'))
          }"
        />
        <div
          *ngIf="
            value('birth_date').touched && value('birth_date').errors?.required
          "
          class="alert alert-danger alert-icon"
        >
          <small style="margin-left: 20px;"
            >{{ "Birth date is Mandatory" }}.</small
          >
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">Profile photo</label>
      <br />
      <input class="form-control-file" type="file" formControlName="image" />
    </div>

    <div class="form-group">
      <label class="control-label">Email confirmed</label>
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="email_confirmed"
      />
    </div>

    <button
      (click)="editProfile()"
      type="submit"
      class="btn"
      [disabled]="profileForm.invalid"
    >
      Save profile
    </button>
  </div>
</form>
