<div class="edit-profile container-md">
  <div class="row">
    <div class="form-wrapper col-md-8 col-sm-12">
      <form class="form-group" [formGroup]="profileForm">
        <div class="form-group">
          <h3 class="form-heading">Edit Profile</h3>
          <div class="form-group">
            <label for="bio" class="form-label">Bio</label>
            <textarea
              id="bio"
              rows="2"
              cols="60"
              class="form-control"
              formControlName="bio"
            ></textarea>
          </div>

          <div class="form-group">
            <label for="birth_date" class="form-label">Birth date</label>
            <input
              type="date"
              id="birth_date"
              class="form-control"
              formControlName="birth_date"
            />
          </div>

          <div class="form-group" formGroupName="address">
            <h4>Address</h4>

            <div class="form-group">
              <label for="street" class="form-label">Street</label>
              <input
                id="street"
                type="text"
                class="form-control"
                formControlName="street"
              />
            </div>

            <div class="form-group">
              <label for="city" class="form-label">City</label>
              <input
                id="city"
                type="text"
                class="form-control"
                formControlName="city"
              />
            </div>

            <div class="form-group">
              <label for="state" class="form-label">State</label>
              <input
                id="state"
                type="text"
                class="form-control"
                formControlName="state"
              />
            </div>

            <div class="form-group">
              <label for="zip_code" class="form-label">Zip Code</label>
              <input
                id="zip_code"
                type="number"
                class="form-control"
                formControlName="zip_code"
              />
            </div>
          </div>

          <div class="form-group form-check form-switch">
            <input
              type="checkbox"
              id="email_confirmed"
              class="form-check-input"
              formControlName="email_confirmed"
            />
            <label for="email_confirmed" class="form-check-label form-label"
              >Email confirmed</label
            >
          </div>

          <div class="form-group form-file">
            <label for="image" class="form-label">Profile photo</label>
            <br />
            <input
              id="image"
              class="form-control form-control-file"
              type="file"
              formControlName="image"
            />
          </div>

          <button
            (click)="editProfile()"
            type="button"
            class="btn"
            [disabled]="profileForm.invalid"
            [ngClass]="{
              'form-valid': !profileForm.invalid,
              'form-invalid': profileForm.invalid
            }"
          >
            Save profile
          </button>
        </div>
      </form>
    </div>
    <div class="right-sidebar col-md-4 col-sm-12">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
