.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
.ng-invalid:not(form)   {
    content:"!";
    border-left: 5px solid #a94442; /* red */
  }

  .alert-danger {
    color: red;
    margin-left: 10px;
    padding: 0px;
  }
  
  .alert-danger::before {
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    left: -9px;
    border-width: 5px;
    border-top: solid transparent;
    border-right: solid red;
    border-bottom: solid transparent;
  }

  .alert-icon {
    background-position: -4px;
    background-size : 1.5rem;
    background-repeat: no-repeat;
    background-image: url(../../../../assets/media/dangerImage.webp);
  }

  input {
    min-width: 230px;
    max-width : 50%;
  }

  .btn-primary {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(134, 38, 195) !important;
    border-width: initial !important;
    border-style: none !important;
    border-color: initial !important;
    border-image: initial !important;
  }

  .btn-primary :hover {
    background-color: rgb(241, 108, 81) !important;
  }

  form {
    margin: 0 0 0 48px;
  }