.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
.ng-invalid:not(form)   {
    content:"!";
    border-left: 5px solid #a94442; /* red */
  }

  input {
    max-width: 230px;
  }

  form {
    margin: 0 0 0 48px;
  }