<form #registerForm="ngForm">
  <div class="form-group" style="margin: 0;">
    <h4 class="font-weight-bold">Sign Up</h4>

    <div class="form-group">
      <label class="font-weight-bold">Username :</label>
      <div class="row" style="margin: 0px;">
        <input
          type="text"
          autofocus
          class="form-control input-sm"
          placeholder="*Mandatory"
          name="userName"
          #username="ngModel"
          [(ngModel)]="userData.username"
          maxlength="150"
          required
        />
        <div
          *ngIf="username.dirty || username.touched"
          class="alert alert-danger alert-icon"
        >
          <div *ngFor="let user of usersArray">
            <div *ngIf="username.value == user.username">
              <small style="margin-left: 20px;"
                >{{ "Username already taken" }}.</small
              >
            </div>
          </div>
          <div *ngIf="username.errors">
            <div [hidden]="!username.errors.required">
              <small style="margin-left: 20px;">Username is Mandatory.</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="font-weight-bold">First Name :</label>
      <input
        type="text"
        class="form-control"
        placeholder="*Optional"
        name="firstName"
        #firstname="ngModel"
        [(ngModel)]="userData.first_name"
      />
    </div>

    <div class="form-group">
      <label class="font-weight-bold">Last Name :</label>
      <input
        type="text"
        class="form-control"
        placeholder="*Optional"
        name="lastName"
        #lastname="ngModel"
        [(ngModel)]="userData.last_name"
      />
    </div>

    <div class="form-group">
      <label class="font-weight-bold">Email :</label>
      <div class="row" style="margin: 0px;">
        <input
          type="email"
          placeholder="*Mandatory"
          class="form-control"
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
          name="Email"
          #email="ngModel"
          [(ngModel)]="userData.email"
          required
        />

        <div
          *ngIf="email.dirty || email.touched"
          class="alert alert-danger alert-icon"
        >
          <div *ngFor="let user of usersArray">
            <div *ngIf="email.value == user.email">
              <small style="margin-left: 20px;">Email already taken.</small>
            </div>
          </div>
          <div *ngIf="email.errors">
            <div [hidden]="!email.errors.required">
              <small style="margin-left: 20px;">Email is Mandatory.</small>
            </div>
            <div [hidden]="!email.errors.pattern">
              <small style="margin-left: 20px;"
                >Email not in proper format.</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="font-weight-bold">Password :</label>
      <div class="row" style="margin: 0px;">
        <input
          type="password"
          placeholder="*Mandatory"
          class="form-control"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          name="Password"
          #password="ngModel"
          [(ngModel)]="userData.password"
          required
        />

        <div
          *ngIf="password.errors && (password.dirty || password.touched)"
          class="alert alert-danger alert-icon"
        >
          <div [hidden]="!password.errors.required">
            <small style="margin-left: 20px;">Password is Mandatory.</small>
          </div>
          <div [hidden]="!password.errors.pattern">
            <small style="margin-left: 20px;"
              >Password not in proper format.</small
            >
          </div>
        </div>
      </div>

      <small style="color: grey;"
        >*Must contain at least 8 characters with a number, an uppercase and
        lowercase letter.</small
      >
    </div>

    <button
      (click)="signUp()"
      type="submit"
      class="btn btn-primary"
      [disabled]="!registerForm.form.valid"
    >
      Register
    </button>
  </div>
</form>
