<form #registerForm="ngForm">
    <div class="form-group" style="margin:0">
      <h4 class="font-weight-bold">Sign Up</h4>
      <div class="form-group">
        <label class="font-weight-bold">Username :</label>
        <input type="text" autofocus class="form-control input-sm" name="userName" #username="ngModel" [(ngModel)] = "userData.user.username" maxlength=150 required>
        
        <div *ngFor="let user of usersArray">
          <div *ngIf="username.value==user.username && (password.valid || password.pristine)" class="alert alert-danger" style="width: 230px;">
            Username already taken.
          </div>
        </div>
        
      </div>
      
      <div class="form-group">
        <label class="font-weight-bold">First Name :</label>
        <input type="text" class="form-control" name="firstName" #firstname="ngModel" [(ngModel)] = "userData.user.first_name" >
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Last Name :</label>
        <input type="text" class="form-control" name="lastName" #lastname="ngModel" [(ngModel)] = "userData.user.last_name" >
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Email :</label>
        <input type="email" class="form-control" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" 
               name="Email" #email="ngModel" [(ngModel)] = "userData.user.email" required>

        <div *ngFor="let user of usersArray">
          <div *ngIf="email.value==user.email" class="alert alert-danger" style="width: 230px;">
            Email already taken.
          </div>
        </div>
        
      </div>

      <div class="form-group">
        <label class="font-weight-bold">Password :</label>
        <input type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="Password" #password="ngModel" [(ngModel)] = "userData.user.password" required>
        <small style="color: grey">*Must contain at least 8 characters with a number, an uppercase and lowercase letter.</small>
        <div [hidden]="password.valid || password.pristine" ></div>
      </div>

      <button (click)="signUp()" type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid">Register</button>
        
    </div>
</form>    