.sidebar {
  overflow-y: None;
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin: 0px 7px 20px 7px;

    .article-title {
      color: #444444;
    }

    .article-title:hover {
      color: #428bca;
      text-decoration: none;
    }

    .article-content {
      white-space: pre-line;
    }
  }

  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
}
