<div>
    <div>
        <label>Image :</label>
        <img name="image" class="rounded-circle" src={{profileData.image}} >
        <br>
    </div>
    
    <div>
        <label>Bio :</label>
        <p name="bio">{{profileData.bio}}</p>
        <br>
    </div>

    <div>
        <label>Location :</label>
        <p name="location" >{{profileData.location}}</p>
        <br>
    </div>

    <div>
        <label>DOB :</label>
        <p name="birth_date" >{{profileData.birth_date}}</p>
        <br>
    </div>

    <div>
        <label>Email Status :</label>
        <p name="email_confirmed" >{{profileData.email_confirmed}}</p>
        <br>
    </div>
</div>
