<form class="form-inline" style="margin-left: 0px;">
  <div class="input-group input-group-sm">
    <input
      class="form-control-navbar"
      type="text"
      placeholder="Search User"
      aria-label="Search"
      name="search"
      list="brow"
      #search
      [ngModel]="_data.searchQueryChangeSubject$ | async"
      (ngModelChange)="_data.searchQueryChangeSubject$.next($event)"
      style="outline: none; padding: 0px 15px;"
    />

    <!-- <datalist id="brow">
      <option
        *ngFor="let userProfile of matchingUsersArray$ | async"
        [value]=""
      >
        <a
          [routerLink]="['view-profile', userProfile.address?.user.id]"
          style="color: white;"
          >{{ userProfile.address?.user.username }}</a
        ></option
      >
    </datalist> -->
  </div>
</form>
