.right {
  text-align: right;
}

.left {
  text-align: left;
}

.img-circle {
  border-radius: 50%;
}

.btn {
  transition: 0.1s;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(134, 38, 195);
  border-width: initial !important;
  border-style: none !important;
  border-color: initial !important;
  border-image: initial !important;
}

.alert-danger {
  color: red;
  margin-left: 10px;
  padding: 0px;
  max-inline-size: 50%;
}

.alert-icon {
  background-position: -4px;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-image: url(assets/media/dangerImage.webp);
}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 4px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  inline-size: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  .box-body {
    border: 0 3px;
    padding: 10px;
    inline-size: 100%;
  }
}

.box-primary {
  border-top-color: #3c8dbc;
}

.form-wrapper {
  display: flex;
  justify-content: center;

  form {
    margin: 0 0 0 0px;

    .form-group {
      padding-block-end: 16px;
    }

    .form-control {
      inline-size: max(240px, 70%);
      border: 1px solid #8626c3;
    }

    textarea {
      min-width: 240px;
      max-width: 70%;
    }

    .form-heading {
      color: #428bca;
      font-weight: 400;
    }

    .form-label {
      font-size: 17px;
      font-weight: bold;
      color: #05858f;
    }

    .form-label.required:after {
      content: "*";
      color: red;
      font-size: 17px;
      margin-left: 5px;
      font-weight: bold;
    }

    .is-valid {
      border-left: 5px solid #42a948;
    }

    .is-invalid {
      border-left: 5px solid #a94442;
    }

    .form-valid {
      background-color: #28a745;
      // background-color: rgb(134, 38, 195);
    }

    .form-invalid {
      // background-color: rgb(241, 108, 81);
      background-color: rgb(134, 38, 195);
    }
  }
}
