<div class="container-fluid site-footer">
  <nav
    class="navbar navbar-expand-sm navbar-dark"
    style="text-align: center; padding: 0px"
  >
    <p></p>
    <a class="navbar-brand" style="color: white; font-size: 25px" routerLink="/"
      ><img src="../assets/media/logos/footerImage.png" alt="" />PiBee</a
    >
    <p></p>
  </nav>

  <div class="row mt-2">
    <ul class="navbar-nav">
      <li [routerLink]="['/']" routerLinkActive="router-link-active">
        <a>{{ "About PiBee" }}</a>
      </li>
      <li *ngIf="!(loggedInUser$ | async)" class="ml-4">
        {{ "Have an account?" }}
      </li>
      <li
        *ngIf="!(loggedInUser$ | async)"
        class="ml-2"
        [routerLink]="['auth/login']"
      >
        <a>{{ "Sign In" }}</a>
      </li>
      <li
        *ngIf="loggedInUser$ | async"
        class="ml-2"
        [routerLink]="['auth/logout']"
      >
        <a>{{ "Sign out" }}</a>
      </li>
    </ul>
  </div>
</div>
